<%- include('./partials/header'); %>

<div class="row" style="margin-top: 100px;">
    <div class="w-50 mx-auto">
        <div class="card-body">
            <i class="fas fa-dove fa-4x" style="color: #f2331d;"></i>
            <div class="clearfix">
                <br><br>
            </div>
            <h4 class="card-title"><b>See what's happening in the world right now</b></h4>
            <br>
            <p class="card-text"><b>Join Today</b></p>
            <br>
            <a  href="/users/register" class="btn btn-primary rounded-pill btn-block" style="background-color: #f2331d; border-color: #f2331d;">Sign Up</a>
            <a  href="/users/login" class="btn btn-outline-primary rounded-pill btn-block">Login</a>
        </div>
    </div>
</div>


<%- include('./partials/footer'); %>
